<p>tweeting!</p>
<h2>Edit Tweet</h2>
<% if Helpers.is_logged_in?(session) %>
<%= @tweet.content %>
<form action='/tweets' method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    Content:
    <input type='text' name='content' id='content'><br>
    Edit Your Tweet:

    <input type="submit" value='Edit Tweet' name="submit" id="submit">
</form>
<% else %>
<h1> You Must Be Logged in to Edit Tweets </h1>
<% end %>