<p>i am a boss at tweeting</p>
<%= @tweet.content %>
<button type='submit' value='Edit Tweet'>
<% if Helpers.is_logged_in?(session) %>
<%= @error %>

<form action="/tweets/<%= @tweet.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name='submit' id='Delete Tweet' value="Delete Tweet">
</form>
<% else %>
      <h1> You Must Be Logged in to Delete Tweets </h1>
<% end %>