<form action="/signup" method="POST">

<h2>Please Create A Login</h2>

  <h3>Username: 
    <input type="text" name="username" id="username" placeholder="Username" required/>
  </h3>

  <h3>Email:
  <input type="text" name="email" id="email" placeholder="Email" required/>
  </h3>
  <h3>Password: 
  <input type="password" name="password" id="password" placeholder="password" required/>
  </h3>

  <input type="submit" value="Create">

</form> 