<form action="/login" method="POST">

  <h2>Username: 
    <input type="text" name="username" id="username" placeholder="Username">
  </h2>

  <h2>Password:
    <input type="password" name="password" id="password" placeholder="Password">
  </h2>

  <input type="submit" id="submit" value="Login">
</form>