<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1><h5><a href="/home">Go Home</a></h5>
      
       <%= yield %>
    </div>

  </body>
</html>
